@charset "UTF-8";

h1 {
	font-family: Calibri, Helvetica, "Times New Roman";
	text-align: center;
	font-size: 4em;
	color: #01b3e0;
}

h2 {
	font-family: Calibri, Helvetica, "Times New Roman";
	text-align: center;
	color: #01b3e0;
	font-size: 3vw;
}

p {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 1.9vw;
	color: #01b3e0;
}

body {
	background-color: #545560;
	font-family: Calibri, Helvetica, "Times New Roman";
}

.border {
	border-style: solid;
	border-width: 3.5px;
	border-color: #8b9996;
	border-radius: 7px;
	background-color: #004559;
	margin: 20px;
	padding: 20px;
}

.border2 {
	border-style: solid;
	border-width: 3.5px;
	border-color: #8b9996;
	border-radius: 7px;
	background-color: #004559;
	margin: 20px;
}

.borderTest {
	border-style: solid;
	border-width: 3.5px;
	border-color: #8b9996;
	border-radius: 7px;
	background-color: #004559;
}

.bordernoback {
	border-style: solid;
	border-width: 3.5px;
	border-color: #8b9996;
	border-radius: 7px;
	margin: 20px;
	padding: 20px;
}

.textcenter {
	text-align: center;
}

/* The unordered list was created with the help of W3Schools */
ul {
	list-style-type: none;
	padding: 0px 10px 00px 10px;
}

li {
	float: left;
	font-family: Calibri, Helvetica, "Times New Roman";
	color: #004559;
}

li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 0px 7.5px;
	color: #004559;
	font-size: 2.5vw;
	font-family: Calibri, Helvetica, "Times New Roman";
	border-style: solid;
	border-width: 3.5px;
	border-color: #004559;
	border-radius: 3px;
	background-color: #0396b9;
}
/* These following hover items were created with the help of W3 Schools at https://www.w3schools.com/css/css_link.asp */
li a:hover {
	border-style: solid;
	border-width: 3.5px;
	border-color: #004559;
	border-radius: 3px;
	background-color: #0396b9;
	opacity: 0.75;
}

li a:active {
	background-color: #1a575f;
}

.active {
	background-color: #51d7ff;
	opacity: 0.8;
}

a {
	color: #01b3e0;
}

.floatright {
	float: right;
}

/* This is a fix to a div not going around a float image */
.clearfix {
	overflow: auto;
}
/* Created with the help of W3Schools at https://www.w3schools.com/css/css3_flexbox.asp */
.flexcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: stretch;
	align-content: stretch;
}

.flex-container2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.flex-container3 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex4 {
	display: flex;
}

.headingAndText {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.footer {
	width: 100%;
	text-align: center;
	font-size: 1.9vw;
}

/* Rounded images helped with https://www.w3schools.com/howto/howto_css_rounded_images.asp */
img {
	border-radius: 3%;
}

.imgpadding {
	padding-left: 5px;
	padding-bottom: 5px;
}

.imgborder {
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-top: 2px;
	border-style: solid;
	border-width: 5px;
	border-color: #1a575f;
	border-radius: 4%;
	margin: 20px;
}

.pdf-center {
	display: flex;
	justify-content: center;
}

.newText {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 1.9vw;
	color: #01b3e0;
}

.textLessMargin {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 1.9vw;
	color: #01b3e0;
	margin: 10px;
	text-align: center;
}

.largeText {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 2.2vw;
	color: #01b3e0;
	margin: 15px;
}

.STEMText {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 1.7vw;
	color: #01b3e0;
	text-align: center;
	margin: 1.0vw;
}

.referenceText {
	font-family: "Times New Roman";
	font-size: 1.7vw;
	color: #01b3e0;
	margin: 1.0vw;
}

.indent {
	padding-left: 100px;
	padding-right: 50px;
	text-indent: -50px;
}

/*Credit to "The Wheelchair Guy" on YouTube for information on flexboxes*/
.container {
	display: flex;
	align-content: center;
	justify-content: center;
}

.container div {
	display: flex;
	width: 100%;
	margin: 0.5vw;
	align-items: center;
}

.containerSTEM {
	display: flex;
	align-content: center;
	justify-content: center;
}

.containerSTEM div {
	display: flex;
	width: 100%;
	margin: 0.5vw;
	align-items: center;
	margin:20px;
}

/* This was created with the help of W3Schools at https://www.w3schools.com/css/css3_mediaqueries.asp */
@media only screen and (max-width: 600px) {
	li a {
		font-size: 1.5em;
	}
	.imagefloat {
		float: none;
	}
	.imagecenter {
		text-align: center;
	}
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 2em;
	}
	p {
		font-size: 1.5em;
		text-align: center;
	}
	img {
		height: auto;
		width: 100%;
		display: flex;
	}
	/*div {
		position: absolute;
		right: 10px;
		top: 5px;
	}*/
	
	.newText {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 5vw;
	color: #01b3e0;
}

.textLessMargin {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 6vw;
	color: #01b3e0;
	margin: 10px;
	text-align: center;
}

.STEMText {
	font-family: Calibri, Helvetica, "Times New Roman";
	font-size: 3vw;
	color: #01b3e0;
	text-align: center;
	margin: 1.0vw;
}

}

@media only screen and (min-width: 600px) {
	li a {
		font-size: 1.9vw;
	}
	p {
		font-size: 2.25em;
	}
	.imageresize {
		width: 500px;
	}
}